.pokemon_tabs {
  color: #fff;
}

.pokemon_tabs__titles {
  display: flex;
  justify-content: space-evenly;
}

.pokemon_tabs__title {
  color: rgba(255, 255, 255, 0.8);
  padding: 0.25rem;
  cursor: pointer;
}

.pokemon_tabs__title--selected {
  border-bottom: 2px solid #fff;
  color: rgba(255, 255, 255, 1);
}
