.pokemon_modal {
  height: 400px;
  max-width: 400px;
  min-width: 300px;
  padding: 1.5rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
}

.pokemon_modal__main_info {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
}

.pokemon_modal__image {
  width: 200px;
  min-height: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.pokemon_modal__name {
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 0.625rem;
  margin-bottom: 0.5rem;
}

.pokemon_modal__id {
  margin-bottom: 0.5rem;
}

.pokemon_modal__types {
  display: flex;
  margin-bottom: 1.5rem;
}

.pokemon_modal__close {
  color: #fff;
  transition: opacity 0.2 ease-in;
  opacity: 0.7;
  background: transparent;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  outline: none;
}

.pokemon_modal__close:hover {
  opacity: 1;
}

.pokemon_modal__topbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.pokemon_modal__favourite {
  height: 1.25rem;
  margin-right: 0.15rem;
  width: auto;
  cursor: pointer;
}
