.load_more strong {
  display: block;
}

.load_more__button {
  display: block;
  margin: 0.325rem auto 0;
  background: red;
  border-color: black;
  font-size: 0.8rem;
  color: white;
  outline: none;
}

.load_more__button:disabled,
.load_more__button[disabled] {
  opacity: 0.5;
}
