@font-face {
  font-family: "ProximaNova-Regular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.ttf")
      format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.svg#rocketdesign-font")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "ProximaNova-Regular", sans-serif;
  background-image: url("https://i.pinimg.com/originals/73/0f/1c/730f1c29b41c08ad82e1433a0ef218d1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.grow {
  transition: transform 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .grow:hover {
    transform: scale(1.05);
  }
}
